
/* layout */
body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 90vh;
}

.op-container {
    display: flex;
    flex-direction: column;
    flex:0 0 auto;
}

.num-container {
    display:grid;
    grid-template-columns: auto auto auto;
    flex:1 0 250px;
}

#display-container {
    flex: 1 1 0;
    /* flex: 1 0 365px; */
    min-width: 250px;
}

.calculator {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 380px;
    min-width: 365px;
}
/* style */
body {
    background-color: #3a3a3a;
}

.op-container {
    user-select: none;
}

.num-container {
    user-select: none;
}

#display-container {
    color:aliceblue;
    border: 1px solid whitesmoke;
    text-align: right;
    padding:5px;
    margin-bottom:10px;
}
/* typography */

button {
    font-size: 32px;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

#display-container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
    overflow-wrap:break-word ;
}

#ghost {
    font-size: 14px;
    font-style: italic;
}
